[email]
webmail_url= https://webmail.example.com
email      = hoge@example.com
login      = hoge
password   = piyo

[ext_email]
imapserver = Your external imap server
imapport   = 993
login      = Your external imap login
password   = Your external imap password
